<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Real Estate News</title>
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/scraper_style.css" type="text/css" />

</head>

<body>

    <div class="navbar">
        <div class="logo" onclick="window.location.href='/'">
            <h2>TheReal Scraper</h2>
        </div>

        <div class="links">
            <a href="/showscraped" class="showArticles">Show Articles</a>
            <a href="/savedarticles" class="savedArticlesLink">Saved Articles</a>
            <a href="/" class="scraperLink">Scrape New Articles</a>
        </div>
    </div>

    {{{ body }}}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="/js/scraper.js"></script>
</body>

</html>