body {
    background-image: url(../assets/img/Real-Estate.jpg);
    background-size: 100%;
    display: grid;
    grid-auto-flow: row;
    margin: 0;
}

.navbar {
    display: grid;
    min-height: 80px;
    grid-auto-flow: column;
    background-color: #e4e4e4;
    opacity: 0.8;
    grid-gap: 20px;
    padding: 0px 10px;
}

a:hover {
    color: blue;
}

.links {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    align-content: center;
    justify-content: end;
    font-size: 110%;
}

.logo {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: start;
    padding: 0px 30px;
}

/* BELOW IS ALL CONTENT FOR INDEX.HANDLEBARS */
.indexWrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(8, 1fr);
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: #e4e4e4;
    opacity: 0.8;
    grid-gap: 20px;
    padding: 0px 10px;
    margin: 10px 0px;
}

.sub-text {
    padding: 5px 40px;
    font-size: 150%;
}

.title {
    font-size: 40px;
}

.introInfo {

    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    border: black 3px solid;
    border-radius: 25px;
}

/* BELOW IS ALL CONTENT FOR ARTICLES.HANDLEBARS */

.articles {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
}

.card {
    border: black solid 4px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;
}

.buttonsDiv {
    float: right;
}

/* BELOW IS ALL CONTENT FOR SCRAPER.HANDLEBARS */
.scrapedArticleWrapper {
    grid-row-start: 2;
    grid-auto-flow: row;
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: #e4e4e4;
    opacity: 0.8;
    grid-gap: 20px;
    padding: 0px 10px;
    margin: 10px 0px;
}